<div style="padding: 1em; box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);">
	<div style="font-size: 1.2rem; font-weight: 300; margin-bottom: 20px;">
    	Visiting Application Accepted
    </div>
    <div style="font-size: 0.9rem;">
		Hello {{name}}, <br /><br />
		On behalf of the Chicago vARTCC, we're happy to have you join our team! By choosing ZAU, you have selected to join a very busy region on VATSIM and one that prides
		itself always striving for excellence.  <br /><br />First, please login on ZAU's website, easily located at www.zauartcc.org! This is required! If you encounter an
		issue with this please email datm@zauartcc.org with your CID and the issue you are encountering. <br /><br />All new controllers to our community should read through
		the entire Training Department section on the Chicago website. This will help familiarize yourself with the Chicago vARTCC website, such as our Standard Operating Procedures (SOP)
		and Letters of Agreement (LOA). Please start now to be prepared to complete the Chicago Basic SOP exam, a requirement to begin training! The SOP has already been assigned.
		Check the Academy website in the ZAU course for it. <br /><br />We strongly suggest visiting Training Frequently Asked Questions to help get started on your journey! Please
		take time to read the provided links and other supplemental information to assist in your online ATC career with Chicago. Our goal is to help everyone have the best experience
		possible while participating in this pastime. This means independent work is an absolute necessity. The value of your own reading of materials, your own observations of other
		controllers and practice cannot be overstated.<br /><br />Lastly, we'd love to have you join our ZAU Community Discord. I strongly encourage you to join, it'll be the easiest
		way to ask questions and get to know everyone. Join using this link: https://discord.gg/jBHkYGT9bP.<br /><br />we are looking forward to working with you and hope you will find
		your experience, as a ZAU controller, to be an enjoyable one. Please let us know if you have any questions and join us in our Discord to meet us and join the community!<br /><br />
		On behalf of our entire team, we look forward to seeing you!<br /><br />Sincerely,<br />The ZAU Staff Team<br /><br /><p style="font-style: italic; font-size: .7rem;">P.S. Have you joined
		    <a href="https://vats.im/zau" target="_blank" rel="noreferrer noopener" style="text-decoration: none; font-weight: 700; color: #192d66;">our Discord server</a> yet?</p>
	</div>
</div>
